# Session Data
cookies*.json
.env*
storage_state*.json

# Playwright Browser Data
tiktok_user_data*/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
